body
{
	background: lavender;
	font-family: lucida sans;
	color: darkslategrey;
}

nav a
{
	padding-right: 20px;
}

#quiz-link
{
	display: none;
}

#main-content
{
	display: table;
}

.column
{
	display: table-cell;
	width: 500px;
	text-align:center;
}

#navigation
{
	background: #666666;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
}