body
{
	background: #333333;
	font-family: lucida sans;
	color: white;
	
}

nav a
{
	padding-right: 20px;
}

#quiz-link
{
	display: none;
}

#main-content
{
	display: table;
}

.column
{
	display: table-cell;
	width: 500px;
	text-align: center;
}

#navigation
{
	background: orange;	
	padding: 5px;
	width: 1000px;
	float: left;
	height: 18px;
}

.menu-link
{
	padding: 0px 10px;
	font-weight: bold;
	text-decoration: none;
	font-family: LucidaSans;
	font-size: 20px;
	color: white;
}

.menu-link:hover
{
	color: #CC2900;
}

.menu-link-inactive
{
	padding: 0px 10px;
	font-weight: bold;
	text-decoration: none;
	font-family: LucidaSans;
	font-size: 20px;
	color: black;
}

.footer-link
{
	color:orange;
}

.column-home
{
	display: table-cell;
	width: 400px;
	text-align: center;
}